
html, body, p {  border: 0 none;  margin: 0;padding:0;  outline-style: none; outline-width: 0;  vertical-align: baseline;font-size: 12px;}
.examples_body { width: 750px; margin: 50px auto 0 auto;clear: both;overflow: hidden; position: relative;}
.examples_body h3 {  color: #f9f66d;  font-size: 130%;padding-bottom: 15px;}
.bannerHolder { width: 726px;margin:0 auto; overflow: hidden;}
.bannerHolder li {list-style: none; display: inline;}

.banner { width: 125px; height: 125px; position: relative;overflow: hidden; float: left;display: inline;margin: 0 10px}
.banner img { display: block; border: none;
    width: 125px; height: 125px}
.banner div { position: absolute; z-index: 100; background-color: #222; width: 60px; height: 60px; cursor: pointer; -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px;}
.banner .cornerTL { left:-63px; top:-63px; }
.banner .cornerTR { right:-63px; top:-63px; }
.banner .cornerBL { left:-63px; bottom:-63px; }
.banner .cornerBR { right:-63px; bottom:-63px; }
.banner p { width: 100%;left: 0; top: 57px; z-index: 200; position: absolute; font-family: Tahoma, Arial, Helvetica, sans-serif; color: #FFF; font-size: 11px; text-align: center; cursor: pointer; display: none;}